<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_onepage_controller_success_action">
              <observer name="Unirsal_place_order_after" instance="Unirsal\Whatsappbasic\Observer\Orderplaceafter" />
    </event>

    <event name="sales_order_save_after">
        <observer name="unirsal_module_sales_order_save_after" instance="Unirsal\Whatsappbasic\Observer\OrderSaveAfterObserver" />
    </event>

    <event name="sales_order_invoice_pay">
        <observer name="Unirsal_sales_order_invoice_save_after" instance="Unirsal\Whatsappbasic\Observer\InvoiceSaveAfterObserver" />
    </event>

</config>
